<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>彩猫彩票</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>CaiMaoOpen</string>
		<string>caimaoDirectionOpen</string>
		<string>CaiMaoSports</string>
		<string>caimaogameopen</string>
		<string>caimao</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqzone</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqapiwallet</string>
		<string>mqqwpa</string>
		<string>mqqbrowser</string>
		<string>wtloginmqq2</string>
		<string>alipay</string>
		<string>alipayqr</string>
		<string>alipays</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>uppaysdk</string>
		<string>uppaywallet</string>
		<string>wx203a1671e701a3ae</string>
		<string>wb926328166</string>
		<string>sinaweibosso.926328166</string>
		<string>alipayauth</string>
		<string>aliminipayauth</string>
		<string>tbopen23086819</string>
		<string>aw</string>
		<string>alipayre</string>
		<string>alipaysso</string>
		<string>alipayshare</string>
		<string>alipaytlshare</string>
		<string>alipaysopensdk</string>
		<string>dingoamqxw6mcgmfikhues</string>
		<string>dingoaogcpqa4l11w9fkga</string>
		<string>alipayauthlogin</string>
		<string>dingoad5zx837cletmybta</string>
		<string>alicertpay</string>
		<string>alipayauthtb</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>访问相册</string>
	<key>NSContactsUsageDescription</key>
	<string>访问通讯录</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>访问相机</string>
</dict>
</plist>
